%h1
  Уважаемый(ая)
  = @recipient.name
%h2
  Пользователь
  = @sender.name
  прислал вам сообщение:
%p.lead=@text
%p
  Чтобы написать ответ, используйте адрес электронной почты, предоставленный отправителем:
  = @sender.email
  или
  = link_to "форму отправки сообщений", user_url(@sender)
