%li.list-group-item
  = link_to workbook.name, special_workbook_path(workbook.id)
  - if @user.admin?
    = link_to t('edit'), edit_special_workbook_path(workbook.id), class: "btn btn-default btn-xs pull-right"
