- provide(:title, "Edit special workbook")
%h1.page-header= @special_workbook.name
.col-md-9.col-md-offset-2
  = render partial: 'workbooks/workbook_form',
    locals: { object: @special_workbook,
      url: special_workbook_path(@special_workbook),
      http_method: :patch,
      subjects: @special_subjects }

