- provide(:title, "All workbooks")
%h1.page-header
  All workbooks

#workbook_index_for_admin
  .row
    .col-md-4
      %ul.nav.nav-pills.nav-stacked
        %li{class: params[:subject].blank? && 'active' }
          = link_to 'Special', special_workbooks_path
        - @subjects.each do |subject|
          %li{class: (params[:subject] == subject.id.to_s) && 'active' }
            = link_to subject.name, special_workbooks_path(subject: subject.id)
    .col-md-8
      .panel.panel-default
        .panel-heading
          = @panel_heading
        .panel-body
          = render @panel_workbooks
