.ban_button
  - if user.banned_at?
    = link_to "unban", unban_user_path(user), method: :post, data: { confirm: "Unban user?" }, class: "btn btn-default", remote: true
  - else
    = link_to "ban", ban_user_path(user), method: :post, data: { confirm: "Ban user?" }, class: "btn btn-warning", remote: true
