- provide(:title, "Set subjects")
- meta_tag('turbolinks-cache-control', 'no-cache')

%h1 My subjects

#select_subjects_form
  = form_tag({ controller: 'users', action: 'save_subjects' }, method: 'post') do
    #select_subjects_dropdown
      = select_tag 'subjects',
          option_groups_from_collection_for_select(@grouped_subjects,
             :last,
             :first,
             :id,
             :name,
             @user.teacher_profile.subjects.ids),
          multiple: true,
          class: "form-control", id: 'select_subjects', placeholder: "select subjects"
      .btn-group
        = link_to "<- Go back", user_path(@user), class: "btn btn-default"
        = submit_tag "Submit", class: 'btn btn-primary'
