- provide(:title, t('my_subjects'))

%h1.page-header=t('my_subjects')

#select_subjects_form
  = form_tag({ controller: 'users', action: 'save_subjects' }, method: 'post') do
    #select_subjects_dropdown
      = select_tag 'subjects',
          option_groups_from_collection_for_select(@grouped_subjects,
             :last,
             :first,
             :id,
             :name,
             @user.teacher_profile.subjects.ids),
          multiple: true,
          class: "form-control", id: 'select_subjects', placeholder: "select subjects"
      .btn-group
        = link_to t('back'), user_path(@user), class: "btn btn-default"
        = submit_tag t('save'), class: 'btn btn-primary'
