- provide(:title, "Users")

%h2.page-header User list

%ul.nav.nav-tabs
  %li
    = link_to 'All', users_path
  - User::ROLES.each do |user_role|
    %li{role: "presentation"}
      = link_to user_role, users_path(type: user_role)

%table.table.table-hover
  %thead
    %tr
      %th.col-md-3 Name
      %th.col-md-2 Email
      %th.col-md-1 Confirmed
      %th.col-md-2 Set role
      %th.col-md-1 Delete
  %tbody
    - @users.each do |user|
      %tr
        = render user
= will_paginate
