- provide(:title, "Users")

%h2.page-header User list
%table.table.table-hover
  %thead
    %tr
      %th.col-md-3 Name
      %th.col-md-2 Email
      %th.col-md-1 Confirmed
      %th.col-md-2 Set role
      %th.col-md-1 Delete
  %tbody
    - @users.each do |user|
      %tr
        = render user
