%h1
  = @user.name
  subjects

#select_subjects_form
  = form_tag({ controller: 'users', action: 'set_subjects' }, method: 'post') do
    #select_subjects_dropdown
      = select_tag 'subjects',
          option_groups_from_collection_for_select(@grouped_subjects,
             :last,
             :first,
             :id,
             :name,
             @user.teacher_profile.subjects.ids),
          multiple: true,
          class: "form-control", id: 'select_subjects', placeholder: "select subjects"
    = submit_tag "Submit", class: 'btn btn-primary'
