%h1 Дорогой пользователь! Ваше сообщение с сайта Кафедры ИСТ нами получено!
%blockquote
  %p=@text
%p
  Мы ответим Вам в ближайшее время на адрес почты, который Вы указали при отправке письма:
  = @user_email
