%p
  = t('hello')
  ,
  = @resource.email
  !
%p=t('password_change_request')
%p=link_to t('change_password_link'), edit_password_url(@resource, reset_password_token: @token)
%p=t('did_not_request')
%p=t('password_wont_change')
