- provide(:title, t('new_teachers_schedule'))
%h1.page-header
  = t('new_teachers_schedule')

= render 'teachers_schedule_form',
  teachers_schedule: @teachers_schedule,
  teachers: @teachers,
  url: teachers_schedules_path,
  http_method: :post
