<footer class="navbar" id="footer">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar">
        <li><%= render 'layouts/contacts' %></li>
      </ul>
      <ul class="nav navbar-nav navbar navbar-right">
        <li><%= render 'layouts/socials' %></li>
      </ul>
    </nav>
  </div>
</footer>


