<nav class="navbar navbar-default navbar-fixed-top" id="header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" id="logo">
        КАФЕДРА ICT
      </a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <%= render 'layouts/main_menu' %> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <%= render 'layouts/lang_switcher' %>
    </ul>
    <ul class="nav navbar-nav navbar">
      <%= render 'layouts/user_menu' %>
    </ul>
    
    
    
  </div>
</nav>

